footer {
    background-color: #272727;
    color: #0cc6ff;
    padding: 10px;
  }
  
  footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  footer li {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .links{
    text-decoration: none;
    color: #0cc6ff;
  }